@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --header_height: 3rem;
    --navigation_width: 324px;

    --light_font: 400;
    --medium_font: 500;
    --semibold_font: 600;
    --bold_font: 700;

    --first_color: #1687A7;
    --first_color_dark: #276678;
    --first_color_darker: #092332;
    --text_color: #54423D;
    --first_color_light: #FFFAFA;
    --first_color_lighter: #FFFAFA;

    --primary_font: "Poppins", "Ubuntu", "Helvetica", sans-serif;
    --h1_size: 1.5rem;
    --h2_size: 1.25rem;
    --h3_size: 1rem;
    --normal_size: .938rem;
    --small_size: .813rem;
    --smaller_size: .75rem;

    --margin_1: .5rem;
    --margin_2: 1rem;
    --margin_3: 1.5rem;
    --margin_4: 2rem;
    --margin_5: 2.5rem;
    --margin_6: 5.5rem;

    --z: 100;
    /* cubic-bezier(0.18, 0.62, 0.9, 1.01) */
    --curve: cubic-bezier(0.01, 1.1, 0.99, 0.96);
}

@media screen and (min-width: 768px) {
    :root {
        --h1_size: 2.25rem;
        --h2_size: 1.5rem;
        --h3_size: 1.25rem;
        --normal_size: 1rem;
        --small_size: .875rem;
        --smaller_size: .813rem;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--light_color);
}

::-webkit-scrollbar-thumb {
    border: 2px solid var(--light_color);
    border-radius: 6px;
    background: darkgray;
}

::-webkit-scrollbar-thumb:hover {
    background: dimgrey;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    touch-action: pan-y;
}

body {
    background-color: var(--first_color_lighter);
    color: var(--text_color);
    font-family: var(--primary_font);
    font-size: var(--normal_size);
    font-weight: var(--medium_font);
    line-height: 1.6;
    margin: var(--header_height) 0 0 0;
}

header .logo {
    color: var(--light_color);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: var(--bold_font);
    letter-spacing: 2px;
    padding-left: 3.5rem;
}

.bd_grid {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 100%;
    margin: 30px auto;
    width: calc(100% - 2rem);
}

.card_container {
    row-gap: 2rem;
}

.titulo_proyectos {
    font-size: 1.25rem;
    color: var(--first_color_dark);
    margin-bottom: var(--margin_1);
}

.titulo_seccion {
    color: var(--first_color);
    font-size: var(--h1_size);
    margin-bottom: var(--margin_3);
    text-align: center;
}

.card {
    text-align: center;
    width: 280px;
    height: 350px;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 800ms;
    cursor: pointer;
}

.card_inner.is-flipped {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border: 2px solid var(--first_color);
    border-radius: .5rem;
    text-align: center;
    padding: .5rem;
    background: var(--first_color_lighter);
    color: var(--first_color_dark);
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border: 2px solid var(--first_color);
    border-radius: .5rem;
    text-align: center;
    padding: .5rem;
    background: var(--first_color);
    color: var(--first_color_lighter);
    transform: rotateY(180deg);
}

.white {
    color: var(--first_color_lighter);
}

.descripcion_proyectos {
    color: var(--text_color);
}

.descripcion_proyectos_white {
    color: var(--first_color_lighter);
}

@media screen and (min-width: 550px) {
    :root {
        --margin_6: 2rem;
    }

    .bd_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 620px) {
    :root {
        --margin_6: 2rem;
    }

    .bd_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 968px) {
    :root {
        --margin_6: 3rem;
    }

    .bd_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1260px) {
    .bd_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}